<div value='{{wireAccount}}' class="modal fade" id="wireAccountModal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmModalLabel">Wire Account</h5>
                
            </div>
            <form class="modal-body">
                <div class="form-group">
                    <div id="wireAccountModalDetails">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger mr-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>