<div class='mb-2'>
   <p>Wire Account</p>
   <button
      data-toggle='modal'
      data-target='#wireAccountModal'
      id='wireAccountButton'
      value='{{wireAccount}}'
      class='btn btn-outline-success btn-sm'
   >Show Data
   </button>
</div>